<div class="center_cc">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Base aérienne REMADA</mat-card-title>
      <mat-card-subtitle> Armée de l'air</mat-card-subtitle>
    </mat-card-header>

     <mat-card-content>
      <mat-tab-group>
        
        <mat-tab label="Login"> 
          <form class="example-form">
          
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Pseudo</mat-label>
                <input matInput placeholder="hayder mgaieth" value="" required [(ngModel)]="email">
                <mat-icon matSuffix>email</mat-icon>

              </mat-form-field>
           


              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Mot de passe</mat-label>
                <input type="password" matInput placeholder="***********" value=""
                id="pass" name="password"
                minlength="8" required  [(ngModel)]="password">
                <mat-icon matSuffix>vpn_key</mat-icon>

              </mat-form-field>
  
           
            
            <button class="btn-center" mat-button color="primary" (click)="login()">log In</button>

          </form>

        </mat-tab>


        


        <mat-tab label="Register"> 
          

          <form class="example-form">
            
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Pseudo</mat-label>
                <input matInput placeholder="hayder mgaieth" value="" required [(ngModel)]="reg_email">
                <mat-icon matSuffix>email</mat-icon>

              </mat-form-field>
          
          
           
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Mot de passe</mat-label>
                <input type="password" matInput placeholder="***********" value=""
                id="pass" name="password"
                minlength="8" required [(ngModel)]="reg_password">
                <mat-icon matSuffix>vpn_key</mat-icon>

              </mat-form-field>
  
          


            
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Confirmer Mot de passe</mat-label>
                
                <input type="password" matInput placeholder="***********" value=""
                id="confpass" name="confirm_password"
                minlength="8" required [(ngModel)]="reg_confirm_password">
                
                <mat-icon matSuffix>vpn_key</mat-icon>
              </mat-form-field>
  
           
            
            <button class="btn-center" mat-button color="primary" (click)="register()">Register</button>

          </form>

        
        </mat-tab>


      </mat-tab-group>
     </mat-card-content>
   </mat-card>>
</div>