<mat-nav-list>
    <div class="logo py 4">
        <img src="../../assets/dash.png" 
         alt="army logo">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2"> Applications </h2>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>  
          <pre>   Home</pre>
    </a>

    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon>  
        <pre>   Dashboard</pre>
    </a>

    <a mat-list-item >
        <mat-icon>map</mat-icon>  
        <pre>   Map</pre>
    </a>
</mat-nav-list>